@import '../../mixins.scss';

.Office {
    position: relative;
    margin: 2.5rem auto;
    width: 110rem;
    height: 65rem;
    border: 0.2rem solid rgba(0, 0, 0, 0.048);
    border-radius: 1rem;

    &__img {
        width: 100%;
        height: 100%
    }

    &__points-card {
      position: absolute;
      width: 25rem;
      height: 14.5rem;
      background-color: #FFFFF2;
      top: 0%;
      left: 0%;
      border-radius: 1rem;
      border: 0.2rem solid black;
      display: flex;
      flex-direction: column;
      z-index: 10;
      margin-top: -2rem;
      margin-left: 0rem;
    }

    &__points-btn {
      width: 90%;
      margin: 0rem auto;
      height: 3.5rem;

      cursor: pointer;
      background-color: transparent;
      border: .15rem solid black;
      font-weight: 900;
      border-radius: 0.4rem;
      margin-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__user-img {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
      margin-right: 3rem;
    }

    &__points {
      font-size: 3.5rem;
    }

    &__coins {
      margin-right: 0.6rem;
      width: 2rem
    }

    &__points-container {
      display: flex;
      padding-bottom: 1rem;
      justify-content: center;
      align-items: center;
      padding-top: 1rem;
    }
    
}

.App__modal-button{
  position: absolute;
  top: 55%;
  left: 76%;
  z-index: 10;
  width: 25px;
  height: 25px;
}

.App__bulletin-board{
  position: absolute;
  left: 36%;
  top: 10px;
  width: 60px;
  z-index: 9;
}
